<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-lg="3" size-md="4" size-sm="6" size="12">
        <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem ad obcaecati, asperiores enim vero maxime blanditiis id magni fugit repudiandae ipsa saepe a aut unde quaerat ea eum quod atque.</div>
      </ion-col>
      <ion-col size-lg="3" size-md="4" size-sm="6" size="12">
        <div>Repellendus corrupti quos consequatur voluptatum qui exercitationem vero accusantium aperiam facilis recusandae eos, delectus pariatur repudiandae harum natus labore dolorem esse. Necessitatibus voluptatibus et autem iusto corrupti ratione minus reprehenderit.</div>
      </ion-col>
      <ion-col size-lg="3" size-md="4" size-sm="6" size="12">
        <div>Eveniet aspernatur repudiandae asperiores minus, quasi iusto quos illum iure accusantium fuga dolor, dolorum ipsa exercitationem ad? Neque illum perferendis voluptatibus aliquid cumque dolores ea, est tempore veritatis, eum expedita!</div>
      </ion-col>
      <ion-col size-lg="3" size-md="4" size-sm="6" size="12">
        <div>Nobis, quos fuga magnam dolores eligendi itaque dolorem dolore, harum asperiores nesciunt deserunt ea totam! In modi accusamus exercitationem cum ab earum rem tenetur sequi, quaerat ad cupiditate inventore facere.</div>
      </ion-col>
      <ion-col size-lg="3" size-md="4" size-sm="6" size="12">
        <div>Quis quia dolore nisi illum, dolores, laudantium aliquam, nostrum fugit praesentium iure amet debitis maxime repellat doloremque quae hic! Quam ad unde architecto. Voluptatum corporis dolor autem possimus nihil assumenda!</div>
      </ion-col>
      <ion-col size-lg="3" size-md="4" size-sm="6" size="12">
        <div>A earum odit aspernatur in blanditiis quam perferendis alias adipisci quibusdam dolore amet laudantium totam optio eligendi quaerat asperiores molestias nam quo veritatis, architecto, fuga praesentium eveniet. Pariatur, adipisci nemo!</div>
      </ion-col>
      <ion-col size-lg="3" size-md="4" size-sm="6" size="12">
        <div>Minus adipisci rerum sequi animi possimus neque quis harum cumque dolores modi recusandae ullam, repellat reprehenderit beatae sint? Quia placeat quasi veniam officia obcaecati, modi sed maiores repudiandae porro id.</div>
      </ion-col>
      <ion-col size-lg="3" size-md="4" size-sm="6" size="12">
        <div>Praesentium perferendis voluptatem ullam est. Voluptate quo aperiam eligendi, praesentium ullam, officiis optio accusamus, libero fugit modi ipsa repudiandae illum recusandae omnis! Consequuntur, amet exercitationem neque dolorum possimus voluptatem nemo?</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
