<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-virtual-scroll [items]="items" >
    <ion-card *virtualItem="let item;" >
      <div>
        <ion-img [src]="item.cover" ></ion-img>
      </div>
    <ion-card-header>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{item.title}}</ion-card-content>
    </ion-card>
  </ion-virtual-scroll>
</ion-content>
 -->

 <ion-content [fullscreen]="true">
   <virtual-scroller #scroll [items]="items" [bufferAmount]=500 >
    <ion-grid><ion-row>
    <ion-col size-lg="3" size-md="4" size-sm="6" size ="12" *ngFor="let item of scroll.viewPortItems" >
    <ion-card>
      <div>
        <ion-img [src]="item.cover" ></ion-img>
      </div>
    <ion-card-header>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{item.title}}</ion-card-content>
    </ion-card></ion-col></ion-row></ion-grid>
  </virtual-scroller>
</ion-content>
